body{
	font-family: sans-serif;
	font-size: 11px;
}
table {
    border-collapse: collapse;
    margin: 5px;
}

td, th {
    border: 1px solid #dddddd;
    padding: 8px;
    font-weight: 500;
}

input{
	width: 12px;
	text-align: center;
}

